@import "tailwindcss";

/* LIGHT MODE */
:root {
  --background: hwb(0 70% 30%);
  --text: #000000;
  --text-muted: #101216;
  --border: rgba(0, 0, 0, 0.12);
}

/* DARK MODE */
.dark {
  --background: #292828;
  --text: #ffffff;
  --text-muted: #9ca3af;
  --border: rgba(255, 255, 255, 0.12);
}

input[type="date"] {
  color: var(--text-muted);
}

input[type="date"]::-webkit-datetime-edit {
  color: var(--text-muted);
}

input[type="date"]:valid {
  color: var(--text-muted);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: grayscale(1);
  opacity: 0.6;
  cursor: pointer;
}

/* GLOBAL BACKGROUND */
body {
  background: var(--background);
  transition: all 0.3s ease;
}